html, body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

body {
  background-color: #2b32b2; // Old browsers
  background: linear-gradient(45deg, hsla(237,61%,44%,1) 0%,hsla(202,82%,44%,1) 100%);
}

main {
  color: #eee;
  font-size: 256%;
  font-style: italic;
  font-weight: 600;
}

#back a {
  color: #eeeeeecc;
  text-decoration: none;
  font-size: 1.2rem;
}
