---
import { getCollection } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BaseResponsive from '@layouts/BaseResponsive.astro';

import './blog.css';
import { EntryType } from 'src/constants/entryTypes';

export async function getStaticPaths() {
	const blogEntries = await getCollection(EntryType.BLOG);
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
	title={entry.data.title}
	description={entry.data.subtitle}
>
	<link
		slot="head"
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Serif+Thai:wght@100..900&display=swap"
	/>
	<link
		slot="head"
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
	/>
	<!-- <link
		slot="head"
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@400&display=swap"
		rel="stylesheet"
	/> -->
	<BaseResponsive>
		<article id="blogPost">
			<header class="mt-8">
				<h1 class="text-5xl font-semibold">{entry.data.title}</h1>
			</header>
			<section id="blogContent" class="mt-6 font-['Noto_Serif_Thai'] font-normal text-lg">
				<Content />
			</section>
		</article>
	</BaseResponsive>
</BaseLayout>
