---
import Agoda from '@assets/logos/agoda-wordmark-white.svg';
import SocialButton, { socials } from '@components/SocialButton.tsx';
import Experience from '@components/index/Experience.astro';
import RecentPosts from '@components/index/RecentPosts.astro';

import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Thammarith’s" isWithHeader={false}>
	<main>
		<section
			class="px-8 sm:px-16 bg-slate-900 min-h-[max(92svh,_32rem)] flex flex-grow-0 items-center justify-center"
		>
			<header class="w-full max-w-[72ch] text-white font-heading">
				<h1 class="font-title text-4xl sm:text-6xl font-semibold">
					Thammarith
					<br />
					 Likittheerameth
				</h1>
				<div class="mt-2 text-base">
					Senior Software Engineer <!--
						-->
					<wbr />@<!--
						-->&nbsp;<a href="https://careersatagoda.com">
						<img src={Agoda.src} class="inline-block h-4" alt="Agoda" />
					</a>
					<!-- <br />
						Greater Bangkok, Thailand -->
				</div>
				<p class="mt-8 max-w-xl">
					Based in Bangkok, my home address is <code>localhost:3000</code>, built with my trusty tools: React,
					TypeScript, and, sometimes, unintended features
				</p>
				<div class="-ml-3 mt-8 flex items-center flex-wrap">
					{socials.map((social) => <SocialButton social={social} />)}
				</div>
				<!-- <div>
						Scroll down for about me, blog posts, and cat images
					</div> -->
			</header>
		</section>
		<section class="px-8 sm:px-16 flex flex-grow-0 items-center justify-center">
			<RecentPosts />
		</section>
		<section class="px-8 sm:px-16 flex flex-grow-0 items-center justify-center">
			<Experience />
		</section>
	</main>
</BaseLayout>
