---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Figtree&family=Instrument+Sans&family=Inter&family=Poppins&display=swap" rel="stylesheet">

	</head>
	<body>
		<section>

		</section>
		<!-- <div class="p-12 text-4xl">
			<h1 class="mt-8 font-['Inter']">Thammarith Likittheerameth</h1>
			<h1 class="mt-8 font-['Poppins']">Thammarith Likittheerameth</h1>
		</div> -->
	</body>
</html>
