---
import Layout from '@layouts/GlobalLayout.astro'
---

<Layout>
	<nav class="fixed top-0 w-screen bg-orange-500 h-16 drop-shadow">
		this is nav bar
	</nav>

	<section class="flex items-center bg-slate-900 h-screen p-8 pt-16 md:p-32">
		<div>
		<h1 class="text-orange-600">
			Thammarith
			<br />
			Likittheerameth
		</h1>
		<h2>Full-stack Software Engineer</h2>
		</div>
	</section>
	<div class="bg-slate-100 h-screen">
		<h1 class="text-orange-600">Hi, I'm Thammarith 2</h1>
	</div>
</Layout>
