---
import { getCollection } from 'astro:content';

import { ExperienceCard } from './ExperienceCard';

// Resolve an array of references
const workContent = await getCollection('work');
---

<div class="w-full my-12 max-w-[72ch] font-heading">
	<h2 class="text-2xl font-semibold mb-4">Experience</h2>
	<div class="flex flex-wrap gap-4">
		{workContent.map(w => <ExperienceCard client:visible id={w.data.id} positions={w.data.positions} />)}
	</div>
</div>
